.container-menu{
    font-size: 22px;
    cursor: pointer;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    padding:10px 0px 10px 100px;
    /* background: #F5F3F4; */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    padding: 10px 50px 10px 50px; 
    text-transform: capitalize;
}

nav ul li:hover .children {
    display: block;
}

nav ul li .children{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1000;
    background: #161A1D;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
    text-transform: capitalize;
} 

nav ul li .children li {
    display: block;
    overflow: hidden;
}

nav ul li .children li a{
    display: block;
}

a:hover{
    color: #ff0004;
}

.scroll {
    background: #161A1D;
    transition: all 0.5s ease;
}