.container-search {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.377);
  color: #fff;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

h1 {
  text-align: center;
  font-size: 8rem;
  padding-top: 130px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

h1 span {
  color: #f50004;
}

.icon-search {
  color: #ffffff;
  font-size: 17px;
  padding: 20px;
}

.box-input {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input {
  text-transform: capitalize;
  margin: 10px;
  width: 30%;
  height: 7vh;
  border-radius: 6px;
  border: 0;
  outline: none;
  font-size: 26px;
  text-align: center;
}

.btn-search {
  text-transform: capitalize;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background: #BA181B;
  border: none;
  border: 0.125rem solid #BA181B;
  border-radius: 0.60rem;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-search:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.icon-up-open{
  display: flex;
  justify-content: center;
  padding:60px;
  font-size:48px;
  transform: rotate(180deg);
  animation-duration: 2.2s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-name: slidein;
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.1em;
}

@keyframes slidein {
  from {
    margin-top: 0%;
  }

  to {
    margin-top:8%;
  }
}

/* container searchs */

.hide-listSearch {
  display: none;
}

.listSearch label {
  color: rgb(255, 255, 255);
  padding: 40px 0 0 80px;
  font-size:30px;
}

.listSearch label::first-letter{
  text-transform: capitalize;
}

.listSearch span{
  color: rgb(255, 0, 0);
}

.listSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1800px;
}

.card-search {
  padding: 8px;
  width: 240px;
  height: 340px;
  margin: 20px;
  transition: 1.5s;
  cursor: pointer;
}

.card-search img {
  width: 230px;
  height: 350px;
  z-index: 1;
  box-shadow: 8px 8px 0px #f60000c4;
}

fire{
  background:#BA181B;
}

@media screen and (max-width: 800px) {
  .listSearch label {
    color: #fff;
    padding: 60px 0 0 55px;
    font-size:20px;
  }

  .listSearch span{
    color: rgb(255, 8, 0);
  }
  .container-search {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.363);
    color: #fff;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
  }

  .box-input {
    padding-top: 80px;
  }

  .container-search h1 {
    padding-top: 240px;
    font-size: 65px;
    text-align: center;
  }

  input {
    text-align: center;
    font-size: 15px;
    width: 85%;
  }

  .card-search {
    width: 200px;
    height: 340px;
    margin: 15px;
    transition: 1.5s;
    cursor: pointer;
  }

  .card-search img {
    width: 255px;
    height: 335px;
    z-index: 1;
  }

  .icon-up-open{
    display: flex;
    justify-content: center;
    padding:60px;
    font-size:45px;
    transform: rotate(180deg);
    animation-duration: 2.2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-name: slidein;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.1em;
  }
  
  @keyframes slidein {
    from {
      margin-top: 0%;
    }
  
    to {
      margin-top:22%;
    }
  }
}


/* @media screen and (min-width: 1600px) {
  .list {
      margin: 10px 0px 0 52px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 1800px;
  }

  .container-cards {
      padding: 8px;
      width: 180px;
      height: 280px;
      background: #fff;
      margin: 50px;
      box-shadow: 0px 8px 14px #bd1117;
      transition: 1.5s;
      cursor: pointer;
  }
} */