
.box-about{
    background:#fff;
    padding:60px;
}

h2{
    padding: 50px;
    color: #A4161A;
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
}

p{
    padding: 30px;
    font-size:24px;
    color: rgb(0, 0, 0);
}

.btn-ranking{
    text-align: center;
}

button{
    padding:20px;
    font-size: 20px;
    color: #fff;
    background:#BA181B;
    border: none;
    border: 0.125rem solid #BA181B;
	border-radius: 0.25rem;
	text-decoration: none;
	transition: all 0.2s;
}

button:hover{
    background-color: transparent;
	color: #000000;
	text-decoration: none;
    cursor: pointer;
    padding: 25px;
}

/* contenedor imagen e lista informacion */

.container-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:40px;
}

.information{
    padding: 80px;
    width: 40%;
}


h3{
    text-align: center;
    font-size: 50px;
    color: #A4161A;
    padding:0px 0 50px 0;
}

h3::first-letter{
    text-transform: capitalize;   
 }

.information ul li{
    color: #FFFF;
    font-size: 28px;
    line-height : 50px;
    
}

.information ul li::first-letter{
   text-transform: capitalize;   
}

.information ul {
    list-style-image: url("../../images/claqueta.svg");
}

/* contenido imagen */

.img-box{
    width: 30%;
    padding:70px;
}

.img-box img{
    width: 450px;
    height: 450px;
    transform: rotate(-13deg);
}

