.about{
    margin: 50px;
}

.box-about{
    background:#fff;
    padding:60px;
}

h2{
    padding: 60px;
    color: #A4161A;
    text-align: center;
    font-size: 60px;
    text-transform: capitalize;
}

p{
    padding: 30px;
    font-size:24px;
    color: rgb(0, 0, 0);
}

.btn-ranking {
    text-align: center;
}


.btn-ranking button{
    padding:20px;
    font-size: 20px;
    color: #fff;
    background:#BA181B;
    border: none;
}

.btn-ranking button:hover{
    background-color: black;
}

/* contenedor imagen e lista informacion */

.container-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:40px;
}

.information{
    padding: 80px;
    width: 40%;
}


h3{
    text-align: center;
    font-size: 50px;
    color: #A4161A;
    padding:0px 0 50px 0;
}

h3::first-letter{
    text-transform: capitalize;   
 }

.information ul li{
    color: #FFFF;
    font-size: 28px;
    line-height : 50px;
    
}

.information ul li::first-letter{
   text-transform: capitalize;   
}

.information ul {
    list-style-image: url("../../images/claqueta.svg");
}

/* contenido imagen */

.img-box{
    width: 30%;
    padding:70px;
}

.img-box img{
    width: 450px;
    height: 450px;
    transform: rotate(-13deg);
}


@media screen and (max-width: 800px){
    .box-about{
        background:#fff;
        padding:15px;
    }

    h2{
        padding: 24px;
        font-size: 30px;
        text-transform: capitalize;
    }
    
    p{
        padding: 20px;
        font-size:18px;

    }

    .btn-ranking button{
        padding:20px;
        font-size: 14px;
    }
    
    .btn-ranking button:hover{
        background-color: black;
    }
    
    /* contenedor imagen e lista informacion */
    
    .container-info{
        margin:0px;
    }
    
    .information{
        width: 100%;
        padding:30px;
    }
    
    
    h3{
        font-size: 28px;
    }
    
    h3::first-letter{
        text-transform: capitalize;   
     }
    
    .information ul li{
        color: #FFFF;
        font-size: 18px;
        line-height : 50px;
    }
    
    /* contenido imagen */

    .img-box{
        padding:15px;
    }
    
    .img-box img{
        position: relative;
        top: 0px;
        right: 70px;
        width: 230px;
        height: 260px;
        transform: rotate(-13deg);
    }
}
