.container-aboutfilms {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.76);
    color: #fff;
}

.container-info-films {
    margin: 0px 40px 0px 40px;
    padding-top: 140px;
}

.backdropPath {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.box-info {
    float: right;
    width: 75%;
}

.box-info h2 {
    color: #fff;
    font-size: 4.5rem;
    padding-bottom: 0px;
    text-align: left;
}

.box-info p {
    color: #fff;
    font-size: 18px;
    text-align: start;
    line-height: 32px;
}

.poster {
    float: left;
    padding: 20px;
    width: 10%;
}

.poster img {
    width: 260px;
    height: 380px;
    border-radius: 4px;
    z-index: 1;
    animation-duration: 6s;
    animation-iteration-count:infinite;
    animation-name: path;
}

@keyframes path {
    from {
        box-shadow: 0px 0px 20px rgb(255, 255, 255);
    }
  
    to {
        box-shadow: 0px 0px 40px rgb(255, 0, 0);
    }
  }

.content-more-info {
    color: #fff;
    padding-left: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-more-info label {
    text-transform: capitalize;
    padding: 15px;
    display: block;
    background: rgb(226, 8, 8);
    border-radius: 20px;
}

.content-more-info label  span{
    padding-right: 20px;
    color: rgb(0, 0, 0);
}

.content-more-info .icon-star-filled{
    color: rgb(238, 235, 61);
    font-size: 20px;
    padding:5px;
}

.clr {
    clear: both;
}


@media screen and (max-width: 800px) {

    .container-info-films {
        margin: 0px;
        padding-top: 100px;
    }
    
    .box-info {
        float: right;
        width: 92%;
        margin:30px;
    }
    
    .box-info h2 {
        color: #fff;
        font-size: 50px;
        text-align: right;
    }
    
    .box-info p {
        width: 100%;
        color: #fff;
        font-size: 13px;
        text-align: start;
        line-height: 32px;
    }
    
    .poster {
        padding: 20px;
    }
    
    .poster img {
        width: 100px;
        height: 140px;
        left: 15px;
        z-index: 0;
    }

    .content-more-info {
        color: #fff;
        padding-left: 2px;
        font-size: 8px;
    }
    
    .content-more-info label {
        padding: 10px;
    }
}