*{
    padding: 0;
    margin: 0;
    font-family: 'open sans';
}

body{
    background: #0B090A;
}

html{
    scroll-behavior: smooth;
  }
  
  /**editar la barra lateral*/
  body::-webkit-scrollbar {
    width: 10px;
    background:#B1A7A6;
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:#d30b0e;
    border-radius: 1px;
  }