
.title-menu{
    display:none;
}

.container-menu{
    width: 100%;
    cursor: pointer;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding:10px 0 10px 80px;
    text-transform: capitalize;
}

.home,
.ranking,
.gnere{
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    list-style: none;
}

ul li:hover {
   color: red;
}

ul li:hover .children {
    display: block;
    color: white;
}

ul li .children{
    columns: 2;
    display: none;
    position: absolute;
    width: 280px;
    z-index: 1;
    background: #161A1D;
    border-radius: 0 0 10px 10px;
    font-size: 16px;
    padding:20px;
    text-transform: capitalize;
} 

ul li .children li a{
    display: block;
    overflow: hidden;
    padding:4px;
    border-bottom: 1px solid red;
}

nav ul li .children li {
    display: block;
}

.btn-menu{
    display: none;
}
  
@media screen and (max-width: 780px){
    .nav-menu{
        display: none;
    }

    .title-menu{
        display: block;
        font-size: 24px;
        background: #161A1D;
        color: #fff;
        text-transform: uppercase;
    }

    .nav-menu-resp{
        position:absolute;
        display: block;
        list-style:none;
        background: #161A1D;
        right:0;
        top: 75px;
        transition: all 0.5s ease-out;
        width:100%;
    }

    .home,
    .ranking,
    .gnere{
        font-size: 15px;
       color: #fff;
       text-align: center;
       padding:20px;
       width: 100%;
       transition: all 0.5s ease; 
       text-transform: capitalize;
       
    }
     
    .btn-menu{
        display: block;
        position: absolute;
        font-size: 20px;
        background: #161A1D;
        color: #fff;
        border:none;
        outline: none;
        top: 15px;
        right: 25px;
    }

    ul li .children{
        columns: 2;
        position: absolute;
        width: 92%;
        z-index: 1;
        background: #161A1D;
        font-size: 13px;
        text-transform: capitalize;
    } 

    ul li .children li a{
        padding:1px;
        border-bottom: 1px solid red;
    }
}










.scroll {
    background: #161A1D;
    transition: all 0.5s ease;
}
